# Get this from https://rapidapi.com after subscribing to "LinkedIn Bulk Data Scraper"
# See README for full walkthrough.
RAPIDAPI_KEY=your_rapidapi_key_here

# Host for the LinkedIn Bulk Data Scraper API. Don't change unless you switch APIs.
RAPIDAPI_HOST=linkedin-bulk-data-scraper.p.rapidapi.com
